.drawer {
  position: absolute;
  background-color: var(--background);
  border-left: 1px solid gray;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100vh;
  animation: slideIn 0.5s ease-in;
  display: flex;
  flex-direction: column;
  .product {
    display: flex;
    border-bottom: 1px solid lightgray;
    margin: 0 5vh;
  }
  button {
    margin: 20px 10vh;
  }
  h3 {
    color: black;
    text-align: center;
    margin-top: 20px;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    transform: translateX(0px);
  }
}

.cart {
  display: flex;
  align-items: center;
  height: 2.5rem;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: white;
    align-self: flex-start;
    background-color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    p {
      margin: 0;
      padding: 0;
    }
  }
}

.cart-btn {
  background-color: transparent;
  border: none;
  color: none;
  cursor: pointer;
}
