.container {
  input {
    width: calc(100% - 15px);
    margin: 0 15px;
    padding: 10px 0;
    height: 100%;
    border: none;
    outline: none;
  }
  .results {
    width: calc(100% - 15px);
    margin: 0 15px;
    padding: 0 10px;
    h2 {
      color: gray;
      font-weight: 300;
      font-size: 1rem;
    }
    h3 {
      margin: 10px 0;
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
}
