.btn {
  --bg-color: var(--secondary);
  --color: white;
  --bordercolor: none;
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--color);
  border: 1px solid var(--bordercolor);
  padding: 13px 40px;
  font-size: 14px;
  font-weight: 200;
}

.invis {
  @extend .btn;
  --bg-color: transparent;
  --color: black;
  --bordercolor: none;

  border: none;
  padding: 0;
  margin: 0;
}
