.btn {
  --bg-color: var(--secondary);
  --color: white;
  --bordercolor: none;

  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--color);
  border: 1px solid var(--bordercolor);
  opacity: 0.9;
  padding: 13px 40px;
  font-size: 14px;
  font-weight: 200;
}
