.container {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  inset: 15px;
  bottom: auto;
  width: 400px;
  z-index: 100;
  display: flex;
  .navbar {
    height: 60px;

    z-index: 120;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid black;
    h3 {
      font-weight: 300;
      margin: 0.5rem 1rem;
    }
    .actions {
      display: flex;
      margin: 0.5rem;
      .cartaction {
        display: flex;
        align-items: center;
        gap: 0.2rem;
      }
      button {
        background-color: transparent;
        border: none;
        margin: 0.2rem;
      }
    }
  }
  .dropdown {
    animation: slideDown 0.5s ease-in;
    overflow: hidden;
    .searchbar {
      background-color: white;
      border: 1px solid black;
      border-bottom-color: gray;
      border-top: none;
    }
    .links {
      border: 1px solid black;
      border-top: none;
      background-color: white;
      nav {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
        a {
          margin: 5px 0;
          font-weight: 400;
        }
      }
    }
  }
}

.cart {
  animation: slideDown 0.5s ease-in;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 1px solid black;
  border-top: none;
  button {
    margin: 20px 40px;
  }
  .product-row {
    display: flex;
    width: 90%;
    align-items: flex-start;
    font-size: 0.9rem;
    gap: 5px;
    span:last-child {
      margin-left: auto;
      margin-right: 2rem;
    }
  }
  .product {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid gray;
  }
}

@keyframes slideDown {
  from {
    max-height: 0px;
  }
  to {
    max-height: 300px;
  }
}
