.products {
  width: 80vw;
  margin: 80px auto;
  display: grid;
  gap: 2rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 1192px) {
  .products {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0rem;
  }
}

@media screen and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
