.klarna {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  iframe {
    width: 80vw;
    height: 100%;
  }
  svg {
    animation: spin infinite linear 1s;
  }
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
