html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background: #fff;
  --fontcolor: white;
  --gray400: rgb(180, 180, 180);
  --secondary: black;
}
