html,
body {
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background: #fff;
  --fontcolor: black;
  --secondary: rgb(235, 231, 222);
}
