.cover {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: url("../public/home-bg.webp") no-repeat fixed center;
}

.container {
  position: relative;
  display: flex;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    button {
      background-color: white;
      color: black;
      margin: 1rem 3rem;
      padding: 20px 35px;
    }
    h1 {
      font-size: 4rem;
    }
    p {
      font-weight: 400;
      font-size: 1.4rem;
    }
  }
}

.displays {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .container {
    height: auto;
    width: auto;
    margin-top: 80px;
    text-align: center;
    .hero {
      button {
        padding: 22px 10px;
      }
    }
  }

  .displays {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
